.parent{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.childOne{
  width:30%;
  padding:2%;
  border:1px solid green;
  margin:2%
}
.childTwo{
  width:70%;
  padding:2%;
  border:1px solid blue;
  margin:2%
}
